/*Layout*/

@media only screen and (max-width:1399px) {
    .slider_text_area {
        left: 15%;
        width: 70%;
    }
}

@media only screen and (max-width:1199px) {

    .header-area:before,
    .header-area:after {
        display: none;
    }

    ul.nav-menu .mega-menu ul {
        margin-left: 25px;
    }

    .service-item {
        padding: 40px 15px 35px;
        width: 280px;
    }

    .service-item img {
        margin-bottom: 15px;
    }

    .service-item p {
        margin-bottom: 15px;
    }

    .testimonial-texarea h1 {
        font-size: 40px;
    }

    .testimonial-innerbox ul li {
        max-width: 210px;
        padding: 35px 40px 28px 40px;
    }

    .testimonial-innerbox ul li i {
        margin-bottom: 18px;
    }

    .blog-author span {
        padding-right: 15px;
    }

    .slider_text_area {
        left: 5%;
        width: 90%;
    }

    .team-exp-area .table tr .chamber {
        width: 35%;
    }

    .team-exp-area .table tr .schedule {
        width: 45%;
    }

    .review_text {
        width: 83%;
    }

    .gallery_item {
        height: 250px;
    }

    .cart-table th.c-number {
        min-width: 200px;
    }

    .cart-table th.c-price,
    .cart-table th.c-total {
        min-width: 230px;
    }

    .c-delete {
        min-width: 100px;
    }

    .wsus__pay_item h2 {
        font-size: 25px;
    }

    .wsus__pay_item ul li {
        width: 29.7%;
    }

    ul.nav-menu li a {
        font-size: 15px;
        margin: 32px 0px 32px 30px;
    }
}


/*Tablet Layout*/

@media only screen and (max-width:991px) {
    .header-social {
        text-align: center;
    }

    .header-social li {
        margin-right: 15px;
    }

    .header-social li:last-child {
        margin-right: 0;
    }

    .header-social li:before {
        display: none;
    }

    .header-info {
        text-align: center;
    }

    .header-info li {
        padding-top: 6px;
    }

    .header-info li:before {
        height: 50%;
        background-color: #e9e9e9;
        top: 9px;
        left: -17px;
    }

    .logo img {
        height: 52px;
    }

    .main-menu {
        display: none;
    }

    .mobile-menu,
    .mobile-menuicon {
        display: block;
    }

    .searchbar .search-button {
        right: 98px;
    }

    .searchbar .cart-button {
        right: 62px;
    }

    .slider_text_area {
        top: 50%;
        left: 5%;
        width: 90%;
    }

    .slider-text.left p {
        margin-right: 0px;
    }

    .slider-text.center p {
        margin-left: 0px;
        margin-right: 0px;
    }

    .why-us-area {
        padding-top: 30px;
    }

    .why-us-item {
        min-height: auto;
        padding: 30px 15px;
    }

    .why-icon {
        width: 95px;
        height: 95px;
    }

    .why-us-item h3 {
        font-size: 26px;
        margin: 0 0 15px;
    }

    .why-us-item p {
        margin: 0;
    }

    .main-headline h1 {
        font-size: 44px;
    }

    .main-headline p {
        margin: 0;
    }

    .about-area {
        padding-top: 0;
        padding-bottom: 60px;
    }

    .feature-section-text h2 {
        line-height: 1.3;
    }

    .coustom-container {
        max-width: 720px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .about-skey {
        margin: 0;
    }

    .about-skey:before,
    .about-skey:after {
        display: none;
    }

    .service-area {
        padding-top: 60px;
        padding-bottom: 13px;
    }

    .brand-colume {
        height: 100px;
    }

    .subscribe-form .btn-sub {
        width: 120px;
    }

    .service-coloum-area {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .service-coloum:nth-child(2),
    .service-coloum:nth-child(5) {
        margin-top: 0px;
    }

    .owl-testimonial .owl-dots {
        bottom: 35%;
    }

    .service-item {
        width: 315px;
    }

    .service-coloum:nth-child(1) .service-item,
    .service-coloum:nth-child(2) .service-item,
    .service-coloum:nth-child(3) .service-item {
        background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff);
        background-color: #fff;
    }

    .counter-row {
        overflow: hidden;
        width: 100%;
    }

    .portfolio-area {
        padding-top: 30px;
        padding-bottom: 60px;
    }

    .home-button.ser-btn {
        padding-bottom: 60px;
    }

    .testimonial-area {
        padding-top: 30px;
        padding-bottom: 60px;
    }

    .testimonial-innerbox ul li {
        max-width: 47.8%;
    }

    .team-area {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .subscribe-area {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .main-headline h1 {
        font-size: 42px;
    }

    .blog-area {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .brand-area {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .main-footer {
        padding-top: 10px;
    }

    .footer-logo {
        padding: 15px 0 0 0;
        text-align: center;
    }

    .footer-area {
        padding-top: 30px;
        padding-bottom: 60px;
    }

    .topfooter-bg {
        display: none;
    }

    .footer-logo img {
        max-height: 70px;
    }

    .footer-address {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .footer-address ul li {
        width: 230px;
    }

    .textwidget {
        padding-right: 0px;
    }

    .footer-copyrignt {
        padding-top: 25px;
        padding-bottom: 30px;
    }

    .about1-inner {
        position: relative;
        transform: translate(0, 0);
    }

    .sm_pr_0 {
        padding-right: 0 !important;
    }

    .wsus__chatlist,
    .wsus__chat_main_area {
        margin-top: 25px;
    }

    .team-exp-area .table tr .chamber {
        width: 45%;
    }

    .team-exp-area .table tbody td span {
        margin: 2px 0px;
        width: 100%;
    }

    .review_text {
        width: 87%;
    }

    .gallery_item {
        height: 180px;
    }

    .footer-social {
        float: none;
    }

    .cart-table th.c-number {
        min-width: 200px;
    }

    .cart-table th.c-price,
    .cart-table th.c-total {
        min-width: 230px;
    }

    .c-delete {
        min-width: 100px;
    }

    .wsus__pay_item h2 {
        font-size: 25px;
    }

    .wsus__pay_item ul li {
        width: 30%;
    }

    .doctor-search .s-box,
    .doctor-search .s-button {
        width: 50%;
        float: left;
    }

    .team-detail-photo {
        height: 320px;
    }

    .wsus__chat_single_text {
        width: 79%;
    }

    .wsus__pay_item {
        margin-bottom: 25px;
        padding: 30px 25px;
    }

    .detail-dashboard {
        margin-top: 25px;
    }
}


/*mobail small layout*/

@media only screen and (max-width:767px) {
    .service-item {
        width: 225px;
        padding: 30px 10px 25px;
    }

    .testimonial-innerbox ul li {
        max-width: 46.9%;
    }

    .team-carousel {
        margin-top: 20px;
    }

    .owl-carousel.blog-carousel .owl-dots {
        text-align: center;
    }

    .main-headline h1 {
        font-size: 36px;
        line-height: 1.3;
        margin-bottom: 20px;
    }

    .footer-area {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .footer-address {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .footer-address ul li {
        width: 170px;
        padding: 0px 5px 0px 32px;
    }

    .footer-address ul li:before {
        display: none;
    }

    .footer-address ul li:last-child {
        padding: 0px 0px 0px 25px;
    }

    .footer-address ul li i {
        font-size: 26px;
    }

    .footer-copyrignt {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 20px;
    }

    .footer-social {
        float: none;
        margin-top: 7px;
    }

    .wsus__chatlist,
    .wsus__chat_main_area {
        margin-top: 25px;
    }

    .wsus__chatlist,
    .wsus__chat_main_area {
        margin-top: 25px;
    }

    .slider_text_area {
        left: 5%;
        width: 90%;
        text-align: center;
    }

    .text-animateds h1 {
        font-size: 35px;
    }

    .banner_search ul li {
        width: 48%;
        margin-bottom: 10px;
    }

    .banner_search ul li:last-child {
        width: 48%;
        margin-right: 0;
    }

    .banner_search ul li button {
        padding: 11px;
    }

    .feature-section-text {
        padding-right: 0;
        padding-left: 0;
    }

    .home-button.ser-btn {
        padding-bottom: 60px;
    }

    .testimonial-item {
        padding: 20px;
    }

    .testimonial-item:before {
        left: 0;
        top: -20px;
        color: #fa49494f;
    }

    .home-button.ser-btn {
        padding-bottom: 60px;
    }

    .event-detail-tab ul li {
        width: 50%;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
    }

    .event-detail-tab ul li a {
        font-size: 16px;
        padding: 15px 15px;
    }

    .gallery_item {
        height: 200px;
    }

    .team-exp-area .table tr .chamber {
        min-width: 250px;
    }

    .team-exp-area .table tr .chamber {
        min-width: 250px;
    }

    .team-exp-area .table tr .schedule {
        min-width: 210px;
    }

    .team-exp-area .table tbody td span {
        margin: 5px 0px;
        width: 100%;
    }

    .review_text {
        width: 82%;
        margin-top: 10px;
    }

    .review_text h5 {
        font-size: 16px;
    }

    .review_text h5 span {
        font-size: 13px;
    }

    .small_title.small_mar {
        margin-top: 25px;
    }

    .cart-table th.c-number {
        min-width: 150px;
    }

    .cart-table th.c-price,
    .cart-table th.c-total {
        min-width: 230px;
    }

    .c-delete {
        min-width: 100px;
    }

    .wsus__pay_item h2 {
        font-size: 25px;
    }

    .wsus__pay_item ul li {
        width: 45.64%;
    }

    .wsus__pay_item {
        margin-bottom: 25px;
    }

    .prescription .top .right {
        float: left;
    }

    .patient-info .text-right {
        text-align: left !important;
    }

    .prescription .main-section .medicine {
        margin-left: 0;
        padding-left: 15px;
    }

    .prescription h6.text-center {
        text-align: left !important;
    }

    .detail-dashboard {
        margin-top: 25px;
    }

    .wsus__404_text {
        height: 450px;
    }

    .wsus__404_text h2 {
        font-size: 70px;
    }

    .wsus__404_text h4 {
        font-size: 30px;
    }
}

@media only screen and (max-width:575px) {
    .header-info {
        margin-top: 10px;
    }

    .header-info li {
        display: block;
        margin: 0;
    }

    .header-info li:before {
        display: none;
    }

    .service-coloum {
        margin: 0 auto;
    }

    .service-item {
        width: auto;
        margin: 15px 0;
    }

    .portfolio-menu li {
        font-size: 16px;
        margin-bottom: 2px;
    }

    .testimonial-innerbox ul li {
        float: none;
        max-width: 100%;
        margin-left: 15px;
        margin-right: 15px;
    }

    .testimonial-innerbox ul li:first-child {
        margin-left: 15px;
    }

    .testimonial-innerbox ul li:last-child {
        margin-right: 15px;
    }

    .footer-address ul li {
        width: 50%;
        padding: 0px 5px 0px 35px;
    }

    .footer-address ul li:last-child {
        margin-top: 20px;
        width: 100%;
    }

    .comment-list .thumb {
        display: block;
    }

    .comment-list .com-text {
        display: block;
        padding: 0;
        margin-top: 15px;
    }

    .comment-list .com-text h5 {
        margin-bottom: 2px;
    }

    .comment-list ul ul.children {
        margin-left: 30px;
    }

    .wsus__chatlist,
    .wsus__chat_main_area {
        margin-top: 25px;
    }

    .slider_text_area {
        left: 5%;
        width: 90%;
        text-align: center;
    }

    .text-animateds h1 {
        font-size: 35px;
    }

    .banner_search ul li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .banner_search ul li:last-child {
        width: 100%;
        margin-right: 0;
    }

    .banner_search ul li button {
        padding: 13px;
    }

    .feature-section-text {
        padding-right: 0;
        padding-left: 0;
    }

    .testimonial-item {
        padding: 20px;
    }

    .testimonial-item:before {
        left: 0;
        top: -20px;
        color: #fa49494f;
    }

    .home-button.ser-btn {
        padding-bottom: 60px;
    }

    .event-detail-tab ul li {
        width: 50%;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
    }

    .event-detail-tab ul li a {
        font-size: 16px;
        padding: 15px 15px;
    }

    .gallery_item {
        height: 200px;
    }

    .team-exp-area .table tr .chamber {
        min-width: 250px;
    }

    .team-exp-area .table tr .chamber {
        min-width: 250px;
    }

    .team-exp-area .table tr .schedule {
        min-width: 210px;
    }

    .team-exp-area .table tbody td span {
        margin: 5px 0px;
        width: 100%;
    }

    .review_text {
        width: 100%;
        margin-top: 10px;
    }

    .review_text h5 {
        font-size: 16px;
    }

    .review_text h5 span {
        font-size: 13px;
    }

    .small_title.small_mar {
        margin-top: 25px;
    }

    .cart-table th.c-number {
        min-width: 150px;
    }

    .cart-table th.c-price,
    .cart-table th.c-total {
        min-width: 230px;
    }

    .c-delete {
        min-width: 100px;
    }

    .wsus__pay_item h2 {
        font-size: 25px;
        margin-left: 0;
    }

    .wsus__pay_item ul li {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .doctor-search .s-box,
    .doctor-search .s-button {
        width: 100%;
    }

    .wsus__chat_single_text {
        width: 71%;
    }

    .wsus__pay_item {
        padding: 15px;
        margin-bottom: 25px;
    }

    .prescription .top .right {
        float: left;
    }

    .patient-info .text-right {
        text-align: left !important;
    }

    .prescription .main-section .medicine {
        margin-left: 0;
        padding-left: 15px;
    }

    .prescription h6.text-center {
        text-align: left !important;
    }

    .detail-dashboard {
        margin-top: 25px;
    }

    .wsus__404_text {
        height: 450px;
    }

    .wsus__404_text h2 {
        font-size: 70px;
    }

    .wsus__404_text h4 {
        font-size: 30px;
    }
}

@media only screen and (max-width:359px) {
    .comment-list .com-text span {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
}