.btn,
.form-group>label {
    font-size: 14px !important
}

.table {
    font-size: 15px !important;
}

.btn-primary {
    background-color: #2046DA !important;
}

.btn-danger {
    background-color: #fb160a !important
}

.toggle.btn.btn-success,
.toggle.btn.btn-danger {
    width: 95px !important;
}

.text-area-5 {
    min-height: 100px !important;
}

.text-area-3 {
    min-height: 60px !important;
}

img.admin-img {
    border: 1px solid #ddd;
    border-radius: 0px;
    padding: 0px;
    max-width: 180px;
    height: 150px;
    object-fit: cover;
    margin: 0px;
}

img.admin-banner-img {
    border: 1px solid #ddd;
    border-radius: 0px;
    padding: 0px;
    max-width: 200px;
    height: 120px;
    object-fit: cover;
    margin: 0px;
}

.select2-container .select2-selection--single {
    font-size: 14px !important;
    padding: 10px 15px !important;
    height: 42px !important;
    border-color: #e4e6fc !important;
}

.tagify tag {
    margin: -5px 0px 5px 5px !important;
}

.tagify__input {
    margin: -5px 0px 5px 5px !important;
}

.note-editable {
    min-height: 120px !important;
}

.card-body.seller_chat_list {
    height: 650px !important;
}

.chat-box .chat-content .chat-item.chat-right img {
    object-fit: cover;
    width: 60px !important;
    height: 60px !important;
}

.plus_btn {
    margin-top: 32px;
}

.card-header h1 {
    margin-bottom: 0;
    font-weight: 700;
    display: inline-block;
    font-size: 24px;
    margin-top: 3px;
    color: #34395e;
}

.card .card-header .form-control {
    height: 42px;
    font-size: 14px;
    border-radius: 0;
}

.card .card-header .btn {
    margin-top: 1px;
    padding: 0.3rem 0.8rem;
}

.card .card-header .btn:not(.note-btn) {
    border-radius: .25rem;
}

.add_new_social_btn {
    margin-top: 35px !important;
}

.section-body a {
    text-decoration: none !important;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    max-height: 600px;
    overflow-y: auto;
}

.chat-box .chat-content {
    background-color: #f9f9f9 !important;
    height: 600px;
    overflow-y: auto;
    padding-top: 25px !important;
}

.media span {
    background: #2a9cf5;
    color: #fff;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-weight: 600;
    top: 30px;
    left: -30px;
    position: relative;
}

.list-unstyled .active {
    background: #f8f8f8;
}

table .rounded-circle {
    border-radius: 50% !important;
    width: 80px !important;
    height: 80px !important;
    object-fit: cover !important;
}

.profile-widget .profile-widget-picture {
    width: 100px !important;
    height: 100px !important;
    object-fit: cover !important;
}

.default-avatar {
    width: 100px !important;
    height: 100px !important;
    object-fit: cover !important;
}

.navbar .nav-link.nav-link-user img {
    width: 30px !important;
    height: 30px !important;
    object-fit: cover !important;
}

img.mr-3.ml-3.rounded-circle {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.chat-item.chat-left img {
    width: 60px !important;
    height: 60px !important;
    object-fit: cover;
}

#toast-container>.toast:before {
    display: none !important;
}

.upload_photo {
    display: block;
    margin-bottom: 10px;
}

.invoice-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.invoice-title img {
    width: 180px;
}

.invoice .invoice-title .invoice-number {
    margin-top: 0px;
}

@media (max-width: 575.99px) {
    .invoice .invoice-title .invoice-number {
        font-size: 16px;
        margin-top: 15px;
    }
}

.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #0b1eb0 !important;
    color: #fff !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    background-color: #f1f1f1;
    color: #333 !important;
    outline: none;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #ECE5E5 !important;
    height: 43px !important;
    line-height: 43px !important;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #ECE5E5 !important;
    height: 43px !important;
    line-height: 43px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-bottom: 8px !important;
}

.payment-card-image {
    height: 100px !important;
    width: 100% !important;
    object-fit: cover !important;
}

.razorpay-payment-button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #fff;
    background-color: #2046DA;
    border-color: #2046DA;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    padding: .3rem .8rem;
    letter-spacing: .5px;
}

.add_btn {
    margin-top: 34px !important;
}

.dropdown-list .dropdown-list-content {
    height: auto !important;
}

.dropdown-list .dropdown-item .dropdown-item-avatar img {
    width: 40px !important;
    height: 40px !important;
    object-fit: cover !important;
}

.dropdown-list .dropdown-item .dropdown-item-desc p {
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.doctor-chat-list {
    cursor: pointer !important;
}

@media print {
    .section-header,
    .order-status,
    #sidebar-wrapper,
    .print-area,
    .main-footer,
    .additional_info {
        display: none!important;
    }
}

#paymongoId .nav-tabs .nav-item {
    width: 33.33%;
}

#paymongoId .nav-tabs {
    width: 100%;
    border: none;
    margin: 0;
}

#paymongoId .nav-tabs .nav-item .nav-link {
    padding: 5px 0px;
    width: 96%;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #2046DA;
    color: #2046DA;
    font-size: 14px;
}

#paymongoId .nav-tabs .nav-item .nav-link.active {
    background-color: #2046DA !important;
    color: #fff;
}